@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tussock: #bd9850;
  --tussockWhite: #f8f6ee;
  --bgButtonLight: #cdb377;
  --bgButtonDark: #785130;
  --bgNav: #eee8d3;
  --colorText: #66432d;
}
